/* CSS Document */
body{
	background:url(../image/noisy_grid.png);
	padding:60px 0px ;
}
#banner {
	background:url(../image/retina_wood.png);
	border-radiaus:5px;
	box-shadow:5px 5px 5px #666666;
}
#banner>h1 {
	color:#660000;
	margin-bottom:10px;
}
.box1 {
	padding:20px;
	box-sizing:border-box;
	border-radius:3px;
	box-shadow:#666666 3px 3px 3px;
	background:#FFFFFF;
	margin-bottom:30px;
}
