

/* 適用於新增的文章隔是做成html */



.content p {
	font-family:"新細明體", "times New Roman";
	font-size:16px;
	letter-spacing:2px;
	line-height:150%;
	margin:15px;
	text-indent:33px
	}
	
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 
	{
	font-family:"新細明體", "times New Roman";
	line-height:140%;
	margin:15px;
	}

.content h3 {
	font-family:"標楷體", "arial Unicode MS";
	font-size:23px;
	margin-top:30px;
	
	}

.content h2 {
	margin-left:0px;
	color:#000033;
	font-weight:bold;
	font-family:"標楷體", "arial Unicode MS";
	font-size:26px;
	
	}
.content h4 {font-size:14px;
	font-weight:bold;
	}
	

.picture {
	margin:15px;
	padding:5px;
	border: thin solid #666666;	}
	
.picture p {
	text-indent:0px;
	margin:5px;
	font-family:"新細明體", "times New Roman";
	letter-spacing:2px;
	line-height:140%;
	font-size:14px;
	}
	
.back {
	float:right;
	margin-right:20px;
	opacity:0.8;
	}
	
	
	